# Logistic Regression using ML 

---
*   I will be analayzing an advertising dataset. The main point of focus is going to be if a user clicks on an ad or not. 
*   A logistic regression has to be done which will be further predicting based on other features  if/how a user is **probable** to click on an ad. 

# What Data are we dealing with?

* 'Daily Time Spent on Site': consumer time on site in mins
* 'Age': cutomer age years 
* 'Area Income': Avg. Income of geographical area of consumer
* 'Daily Internet Usage': Avg. minutes a day consumer is on the internet
* 'Ad Topic Line': Headline of the advertisement
* 'City': City of consumer
* 'Male': Whether or not consumer was male
* 'Country': Country of consumer
* 'Timestamp': Time at which consumer clicked on Ad or closed window
* 'Clicked on Ad': 0 or 1 indicated clicking on Ad

In [ ]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as nm 
%matplotlib inline

In [ ]:
data= pd.read_csv('/content/candy-data.csv')

In [ ]:
data.describe()

       chocolate     fruity    caramel  ...  sugarpercent  pricepercent  winpercent
count  85.000000  85.000000  85.000000  ...     85.000000     85.000000   85.000000
mean    0.435294   0.447059   0.164706  ...      0.478647      0.468882   50.316764
std     0.498738   0.500140   0.373116  ...      0.282778      0.285740   14.714357
min     0.000000   0.000000   0.000000  ...      0.011000      0.011000   22.445341
25%     0.000000   0.000000   0.000000  ...      0.220000      0.255000   39.141056
50%     0.000000   0.000000   0.000000  ...      0.465000      0.465000   47.829754
75%     1.000000   1.000000   0.000000  ...      0.732000      0.651000   59.863998
max     1.000000   1.000000   1.000000  ...      0.988000      0.976000   84.180290

[8 rows x 12 columns]

In [ ]:
data.head()

  competitorname  chocolate  fruity  ...  sugarpercent  pricepercent  winpercent
0      100 Grand          1       0  ...         0.732         0.860   66.971725
1   3 Musketeers          1       0  ...         0.604         0.511   67.602936
2       One dime          0       0  ...         0.011         0.116   32.261086
3    One quarter          0       0  ...         0.011         0.511   46.116505
4      Air Heads          0       1  ...         0.906         0.511   52.341465

[5 rows x 13 columns]

In [ ]:
competitor= pd.get_dummies(data['competitorname'])

In [ ]:
data_1= pd.concat([data,competitor],axis=1)

In [ ]:
data_2= data_1.drop(labels='competitorname', axis=1)

In [ ]:
##sns.pairplot(data= data_1, hue= 'chocolate')

In [ ]:
data_1.columns

Index(['competitorname', 'chocolate', 'fruity', 'caramel', 'peanutyalmondy',
       'nougat', 'crispedricewafer', 'hard', 'bar', 'pluribus', 'sugarpercent',
       'pricepercent', 'winpercent', '100 Grand', '3 Musketeers', 'Air Heads',
       'Almond Joy', 'Baby Ruth', 'Boston Baked Beans', 'Candy Corn',
       'Caramel Apple Pops', 'Charleston Chew', 'Chewey Lemonhead Fruit Mix',
       'Chiclets', 'Dots', 'Dum Dums', 'Fruit Chews', 'Fun Dip', 'Gobstopper',
       'Haribo Gold Bears', 'Haribo Happy Cola', 'Haribo Sour Bears',
       'Haribo Twin Snakes', 'HersheyÕs Kisses', 'HersheyÕs Krackel',
       'HersheyÕs Milk Chocolate', 'HersheyÕs Special Dark', 'Jawbusters',
       'Junior Mints', 'Kit Kat', 'Laffy Taffy', 'Lemonhead',
       'Lifesavers big ring gummies', 'M&MÕs', 'Mike & Ike', 'Milk Duds',
       'Milky Way', 'Milky Way Midnight', 'Milky Way Simply Caramel', 'Mounds',
       'Mr Good Bar', 'Nerds', 'Nestle Butterfinger', 'Nestle Crunch',
       'Nestle Smarties', 'Nik L Nip', 'Now & Later', 'One dime',
       'One quarter', 'Payday', 'Peanut M&Ms', 'Peanut butter M&MÕs',
       'Pixie Sticks', 'Pop Rocks', 'Red vines', 'ReeseÕs Miniatures',
       'ReeseÕs Peanut Butter cup', 'ReeseÕs pieces',
       'ReeseÕs stuffed with pieces', 'Ring pop', 'Rolo', 'Root Beer Barrels',
       'Runts', 'Sixlets', 'Skittles original', 'Skittles wildberry',
       'Smarties candy', 'Snickers', 'Snickers Crisper', 'Sour Patch Kids',
       'Sour Patch Tricksters', 'Starburst', 'Strawberry bon bons',
       'Sugar Babies', 'Sugar Daddy', 'Super Bubble', 'Swedish Fish',
       'Tootsie Pop', 'Tootsie Roll Juniors', 'Tootsie Roll Midgies',
       'Tootsie Roll Snack Bars', 'Trolli Sour Bites', 'Twix', 'Twizzlers',
       'Warheads', 'WelchÕs Fruit Snacks', 'WertherÕs Original Caramel',
       'Whoppers'],
      dtype='object')

In [ ]:
y= data_2['chocolate']
x= data_2.drop('chocolate',axis=1)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report

In [ ]:
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size= 0.2, random_state= 202)

In [ ]:
log= LogisticRegression()

In [ ]:
log.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
pred= log.predict(x_test)

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      0.91      0.95        11
           1       0.86      1.00      0.92         6

    accuracy                           0.94        17
   macro avg       0.93      0.95      0.94        17
weighted avg       0.95      0.94      0.94        17